<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口概要页面</title>
</head>
<body>
<center>

<table id = 'detail_header'>
    <tr>
        <td>交易码</td>
        <td>交易名称</td>
        <td>功能描述</td>
    </tr>
    {% for header in api_headers %}
    <tr>
        <td>
         <a href="/trs_code/{{ header.trs_code}}">
             {{ header.trs_code}}
         </a>
        </td>
        <td>{{ header.trs_name}}</td>
        <td>{{ header.fuc_desc}}</td>
    </tr>
    {% endfor %}
</table>
</center>
</body>
</html>