{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}企业网银接口详情页{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
    <center>
        <div class="table_detail">
            <table id = 'table_detail'>
                <tr>
                    <td>交易码</td>
                    <td id="trs_code" colspan="4">{{ trs_code }}</td>
                </tr>
                <tr>
                    <td>交易名称</td>
                    <td colspan="4">{{ trs_name}}</td>
                </tr>
                <tr>
                    <td>功能详细描述</td>
                    <td colspan="4">{{ fuc_desc }}</td>
                </tr>
                <tr class="origin_inter">
                    <td colspan="5">原始接口</td>
                </tr>
                <tr class="rowColor">
                    <td>英文名称</td>
                    <td>中文名称</td>
                    <td>数据类型</td>
                    <td>是否必输</td>
                    <td>备注</td>
                </tr>
                <tr class="flag">
                    <td colspan="5">输入</td>
                </tr>
                {%  for detail in api_details %}
                    {% if detail.flag == 'in' %}
                <tr>

                        <td>{{ detail.eng_name }}</td>
                        <td>{{ detail.chinese_name }}</td>
                        <td>{{ detail.data_type}}</td>
                        <td>{{ detail.required }}</td>
                        <td>{{ detail.remark }}</td>
                </tr>
                    {% endif %}
                {% endfor %}
                <tr class="flag">
                    <td colspan="5">输出</td>
                </tr>
                {%  for detail in api_details %}
                    {% if detail.flag == 'out' %}
                    <tr>
                            <td>{{ detail.eng_name }}</td>
                            <td>{{ detail.chinese_name }}</td>
                            <td>{{ detail.data_type}}</td>
                            <td>{{ detail.required }}</td>
                            <td>{{ detail.remark }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        <tr>
            <input type="button" value="添加字段" onclick="change('field_add')"/>
            <input type="button" value="修改字段" onclick="change('field_modify')"/>
            <input type="button" value="删除字段" onclick="change('field_del')"/>
        </tr>
        </div>
    </center>
{% endblock %}