{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <center>
        <div class="content">
            <table id = 'detail_header'>
                <tr>
                    <td>交易码</td>
                    <td>交易名称</td>
                    <td>功能描述</td>
                </tr>
                {% for info in all_info.object_list %}
                    <tr>
                        <td>
                         <a href="/trs_code/{{ info.trs_code}}">
                             {{ info.trs_code}}
                         </a>
                        </td>
                        <td>{{ info.trs_name}}</td>
                        <td>{{ info.fuc_desc}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pagination">
            {% if all_info.has_previous %}
                <a href="?{{ all_info.previous_page_number.querystring }}">上一页</a>
            {% endif %}
            {% for page in all_info.pages %}
                {% if page %}
                    {% ifequal page page_obj.number %}
                        <span class="current page">{{ page }}</span>
                    {% else %}
                        <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                    {% endifequal %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
            {% if all_info.has_next %}
                <a href="?{{ all_info.next_page_number.querystring }}" >下一页</a>
            {% endif %}
    </div>
        <br>
        <div >
                <form class="func_add" method="get" action="/func_add/" >
                    <button type="submit">新增接口</button>
                </form>
                <form class="upload" method="get" action="/upload/" >
                    <button type="submit">文档导入</button>
                </form>
        </div>
    </center>
{% endblock %}
{% block header %}
{% endblock %}
