<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}企业网银接口首页{% endblock %}</title>
</head>
<body>
<!--crumbs start-->
{% block custom_bread %}
{% endblock %}
{% block search %}
    <center>
    <tr>
        <input type="search" placeholder="请输入交易码" id="q" required>
        <input type="button" class="search" value="搜索" onclick="search()"/>
    </tr>
    </center>
{% endblock %}
{% block header %}
    <center>
            <input class='goback' type="button" value="返回首页" onclick="change('header')"/>
    </center>
{% endblock %}
{% block content %}
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/editTable.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/self.css' %}">
{% endblock %}
</body>
</html>