{% extends 'base.html' %}
{% block title %}接口文档上传页{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
    <center>
        <br>
        <div>
                <form enctype="multipart/form-data" action="/excel_upload/" method="post">
                    {% csrf_token %}
                    <input type="file" name="myfile" />
                    <input type="submit" value="excel接口文档上传"/>
                </form>
        </div>
        <div>
            {{ msg }}
        </div>
    </tr>
    </center>
{% endblock %}
